GOOGLE_API_KEY=AIzaSy...
MONGODB_URI=mongodb+srv://ebinamson91:ebin%402004@cluster0.ytopw90.mongodb.net/meeting_copilot?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=meeting_copilot
COLLECTION_NAME=lore_embeddings
INDEX_NAME=vector_index
PORT=8000